{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-4">Mon panier</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.prix}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}

{#
{% extends 'base.html.twig' %}
{% block body %}

    <h1>Mon panier</h1>
    <div class="categories">
        {% for produit in produits %}
            <div class="produit">
                <p>{{ produit.libelle }}</p>
                <p>{{ produit.quantity }}</p>


                <p>{{ produit.prix }}</p>



            </div>
        {% endfor %}
    </div>

{% endblock %}
#}
