{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-4">Mon panier</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total/produit</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for item in panier %}
                {% set product = item['item'] %}
                {% set quantity = item['quantity'] %}
                <tr>
                    <td>{{ product.libelle }}</td>
                    <td>{{ product.prix}}</td>
                    <td>
                        <a href="{{ path('ajouterArticle', { idProduit:product.id}) }}">
                            <i> + </i>
                        </a>
                        {{ quantity }}
                        <a href="{{ path('enleverArticle', { idProduit:product.id}) }}">
                            <i> - </i>
                        </a>
                    </td>
                    <td>
                        {{ product.prix * quantity }} €
                    </td>
                    <td>
                        <a href="{{ path('supprimerLigne', { idProduit:product.id}) }}">
                            X
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div>
        <a href="{{ path('panier_validation') }}"> Valider commande</a>
    </div>
{% endblock %}