{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>{{ 'Produit' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id' | trans }}</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Libellé' | trans }}</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>{{ 'Texte' | trans }}</th>
                <td>{{ produit.texte }}</td>
            </tr>
            <tr>
                <th>{{ 'Visuel' | trans }}</th>
                <td>{{ produit.visuel }}</td>
            </tr>
            <tr>
                <th>{{ 'Prix' | trans }}</th>
                <td>{{ produit.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('produit') }}">{{ 'Retour à la liste' | trans }}</a>

    <a class="btn btn-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">{{ 'Editer' | trans }}</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
