{% extends 'base.html.twig' %}
{% block body %}

    <h1>Produits</h1>
    <div class="produits">
        {% for produit in produits %}
            <div class="produit">
                <p>{{ produit.libelle }}</p>
                <img src="{{ asset(produit.visuel) }}"> {# {{ asset("images/carottes.jpg") }} #}
                <p>{{ produit.texte }}</p>
                <p>{{ produit.prix }}</p>
{#                <form class="example"  action="/panier/{{ produit.id }}" method="post">
                    <input type="hidden"  name="id" value={{ produit.id }}>
                    <button type="submit">Ajouter </button>
                </form>#}

                <a href="{{ path('ajouterArticle', { idProduit:produit.id}) }}">Ajouter</a>



            </div>
        {% endfor %}
    </div>
{% endblock %}