<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-4/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('css/projet.css')}}" />
{#        <link rel="myscripts.js" href="{{ asset('js/bootstrap-4/bootstrap.min.js')}}" />#}

      <script src="{{ asset ("js/jquery/jquery.slim.min.js")}}"></script>
        <link href="{{ asset ("css/fontawsome-5.all.min.css")}}" rel="stylesheet" type="text/css">
       <script src="{{ asset ("js/bootstrap/bootstrap.min.js")}}"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {%  include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block script %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>


