<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('boutique')}}">{{ 'Boutique' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact')}}">{{ 'Contact' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('panier')}}">{{ 'Panier' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login')}}">{{ 'Connexion' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('usager_accueil')}}">{{ 'user' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('usager_inscription')}}">{{ 'Inscription' | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('usager_accueil')}}">{{ 'Mon compte' | trans }}</a>
            </li>
        </ul>
        <form class="example" action="/produits/">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"> X </button>
        </form>
    </div>
</nav>